@font-face {
    font-family: "GothamPro";
    src: url("GothamPro.woff") format("woff"),
         url("GothamPro.woff2") format("woff2");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "GothamProBold";
    src: url("GothamPro-Bold.woff") format("woff"),
         url("GothamPro-Bold.woff2") format("woff2");
    font-style: normal;
    font-weight: 700;
}
